* {
    margin: 0;
    padding: 0;
  }
  
  .container {
    height: 100vh;
    width: 100%;
    background-image: url(images/background.png);
    background-position: center;
    background-size: cover;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
    position: relative;
  }
  
  .navbar {
    width: 100%;
    height: 15vh;
    margin: auto;
    display: flex;
    align-items: center;
  }
  
  .logo {
    width: 160px;
    cursor: pointer;
    animation: movedown 1s linear 1;
    animation-delay: 1s;
    visibility: hidden;
    animation-fill-mode: forwards;
  }
  .cart {
    width: 40px;
    cursor: pointer;
    animation: movedown 1s linear 1;
    animation-delay: 2s;
    visibility: hidden;
    animation-fill-mode: forwards;
  }
  
  nav {
    flex: 1;
    padding-left: 60px;
    animation: movedown 1s linear 1;
    animation-delay: 0.1s;
    visibility: hidden;
    animation-fill-mode: forwards;
  }
  
  nav ul li {
    display: inline-block;
    list-style: none;
    margin: 0px 20px;
    visibility: hidden;
    animation: movedown 1s linear 1;
    /* animation: fadeIn 0.5s linear;*/
    animation-fill-mode: forwards;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #333;
  }
  
  li:nth-child(1) {
    animation-delay: 0.25s;
  }
  
  li:nth-child(2) {
    animation-delay: 0.5s;
  }
  
  li:nth-child(3) {
    animation-delay: 0.75s;
  }
  
  li:nth-child(4) {
    animation-delay: 1s;
  }
  
  li:nth-child(5) {
    animation-delay: 1.25s;
  }
  
  .content {
    margin-left: 10%;
    margin-top: 10%;
    animation: moveright 1s linear 1;
    animation-delay: 3s;
    visibility: hidden;
    animation-fill-mode: forwards;
  }
  
  .content h1 {
    font-size: 60px;
    font-weight: 100;
    margin-top: 24px;
    margin-bottom: 15px;
    color: #232d60;
  }
  
  .content h1 {
    font-size: 20px;
    color: #6a7199;
  }
  
  .content .btn {
    display: inline-block;
    background: linear-gradient(45deg, #87adfe, #ff77cd);
    border-radius: 6px;
    padding: 10px 20px;
    box-sizing: border-box;
    text-decoration: none;
    color: #fff;
    box-shadow: 3px 8px 22px rgba(94, 28, 68, 0.15);
  }
  
  .arrow-icons {
    margin-top: 40px;
    display: flex;
  }
  
  .arrow-icons img {
    width: 40px;
    margin-right: 25px;
  }
  
  .feature-img {
    height: 90%;
    position: absolute;
    bottom: 0;
    right: 160px;
    animation: zoomin 1s linear 1;
    animation-delay: 3s;
    visibility: hidden;
    animation-fill-mode: forwards;
  }
  
  .social-links {
    transform: rotate(-90deg);
    position: absolute;
    bottom: 180px;
    left: -80px;
    visibility: hidden;
    animation: moveup 1s linear 1;
    animation-delay: 4s;
    animation-fill-mode: forwards;
  }
  
  .social-links a {
    text-decoration: none;
    color: #6a7199;
    padding-right: 20px;
    font-size: 14px;
    visibility: hidden;
    animation: moveup 2s linear 1;
    animation-delay: 4s;
    animation-fill-mode: forwards;
  }
  
  a.facebook {
    animation-delay: 5.25s;
  }
  
  a.instagram {
    animation-delay: 5.5s;
  }
  
  a.twitter {
    animation-delay: 5.75s;
  }
  
  @keyframes moveup {
    0% {
      transform: translateY(100px) rotate(-90deg);
      visibility: visible;
    }
    100% {
      transform: translateY(0) rotate(-90deg);
      visibility: visible;
    }
  }
  
  @keyframes movedown {
    0% {
      transform: translateY(-100px);
      visibility: visible;
    }
    100% {
      transform: translateY(0);
      visibility: visible;
    }
  }
  
  @keyframes moveright {
    0% {
      transform: translateX(-100px);
      visibility: visible;
    }
    100% {
      transform: translateY(0);
      visibility: visible;
    }
  }
  
  @keyframes zoomin {
    0% {
      transform: scale(0.5);
      visibility: visible;
    }
    100% {
      transform: scale(1);
      visibility: visible;
    }
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
      top: 100px;
    }
    75% {
      opacity: 0.5;
      top: 0px;
    }
    100% {
      opacity: 1;
    }
  }
  
  